.gris {
  background-color: rgba(0, 0, 0, 0.199);
}
.botonEnviarMail:disabled {
  opacity: 0.5;
  background-color: black;
}

.item{
  margin: 0.6em;
  padding: 0.3em;
  float: left;
}

.espacio{
  letter-spacing: 0cm;
}



